<%- include("template/cabecera", { tituloWeb: "Descuento"}) %>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="container-publicidad d-flex justify-content-center">
      <div>
        <a href="/beneficios" class="btn btn-dark mb-4"
          ><i class="fas fa-angle-left me-2"></i>Volver</a
        >
        <div class="container-publi-info d-flex">
          <div class="publicidad-comercio box-shadow d-flex">
            <p
              class="
                dto-badge
                m-3
                d-flex
                justify-content-center
                align-items-center
                position-absolute
              "
            >
              <%= cliente.dtocirculo %>
            </p>
            <img src="<%= cliente.imgURL %>" alt="" />
          </div>

          <div class="comercio-info">
            <h2 class="title-comercio mb-3"><%= cliente.nombre %></h2>
            <p><%= cliente.direccion %></p>
            <p><%= cliente.telefono %></p>
            <ul class="d-flex rrss-comercio">
              <li>
                <a href="<%= cliente.web %>" target="_blank"
                  ><i class="fas fa-link"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/<%= cliente.ig %>"
                  target="_blank"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.facebook.com/<%= cliente.fb %>"
                  target="_blank"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
            </ul>
            <hr />
            <div class="descuento-info d-flex align-items-center">
              <img
                src="../img/sale.png"
                alt="etiqueta-descuento"
                class="sale-icon me-2"
              />
              <p class="p-descuentos"><%= cliente.descuento %></p>
            </div>
            <hr />
            <div class="suscribirse">
              <p>Unite al club de descuento y disfruta de estos beneficios</p>
              <a href="https://checkout.rebill.to/clubdescuentos/plan/2377" target="_blank" class="btn btn-primary">Suscribite | $180 por mes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../js/script.js"></script>