<%- include("template/cabecera", { tituloWeb: "Detalle Cliente"}) %>
<div class="container">
  <h1>Detalle cliente</h1>
  <hr />
  <a href="/clientes" class="btn btn-dark my-3">Volver</a>
  <!-- Si hay error imprimi esto -->
  <% if (error === true) { %>
  <p><%= mensaje %></p>
  <a href="/clientes" class="btn btn-dark">Volver atras</a>
  <% } %>

  <!-- Si no hay error imprimi esto -->
  <% if (!error) { %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Rubro</th>
        <th scope="col">Direccion</th>
        <th scope="col">Facebook</th>
        <th scope="col">Instagram</th>
        <th scope="col">Web</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= cliente.id %></th>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.rubro %></td>
        <td><%= cliente.direccion %></td>
        <td>
          <a href="<%= cliente.fb %>" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
        </td>
        <td>
          <a href="<%= cliente.ig %>" target="_blank"
            ><i class="fab fa-instagram-square"></i
          ></a>
        </td>
        <td>
          <a href="<%= cliente.web %>" target="_blank"
            ><i class="fas fa-link"></i
          ></a>
        </td>
        <td>
          <button class="btn btn-primary me-1">
            <i class="far fa-edit"></i></button
          ><button class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <% } %>
</div>
