<%- include("../template/cabecera", { tituloWeb: "Profesiones"}) %> <%- include
("../template/header-categorias") %> <% arrayClientes.forEach(cliente=> { %> <%
if (cliente.rubro === 'profesiones'){ %>
<a
  href="/descuento/<%= cliente.id %>"
  class="card-item-categoria box-shadow"
  style="background: url('<%= cliente.imgURL%>') no-repeat center/cover"
></a>
<% } %><% }) %> <%- include ('../template/footer-categorias') %>
