<%- include("../template/cabecera", { tituloWeb: "Supermercado"}) %>
<%- include ("../template/header-categorias") %>  
<% arrayClientes.forEach(cliente=> { %> <% if (cliente.rubro === 'supermecado'){ %>
  <a
    href="/descuento/<%= cliente.id %>"
    class="card-item box-shadow"
    style="background:url('<%= cliente.imgURL%>') no-repeat center/cover;"></a>
  <% } %><% }) %>
<%- include ('../template/footer-categorias') %> 