<%- include("../template/cabecera", { tituloWeb: "Campana"}) %> <%- include
("../template/header-categorias") %>

<div class="container-comercios d-flex justify-content-center flex-wrap p-3">
  <% arrayClientes.forEach(cliente => { %> <%if (cliente.ciudad === 'campana'){
  %>
  <div>
    <p
      class="
        dto-badge
        m-2
        d-flex
        text-light
        justify-content-center
        align-items-center
        position-absolute
      "
    >
      <%= cliente.dtocirculo %>
    </p>
    <a
      href="/descuento/<%= cliente.slug %>"
      class="card-item-categoria box-shadow"
      style="background: url('<%= cliente.imgURL%>') no-repeat center/cover"
    ></a>
  </div>
  <% }%> <% }) %>
</div>
