<%- include("../template/cabecera", { tituloWeb: "Zarate"}) %> <%- include
("../template/header-categorias") %> <% arrayClientes.forEach(cliente=> { %> <%
if (cliente.ciudad === 'zarate'){ %>
<!-- <div class="d-flex">
  <p
    class="
      dto-badge
      m-2
      d-flex
      text-light
      justify-content-center
      align-items-center
      position-absolute
    "
  >
    <%= cliente.dtocirculo %>
  </p>
  <a
    href="/descuento/<%= cliente.slug %>"
    class="card-item-categoria box-shadow"
    style="background: url('<%= cliente.imgURL%>') no-repeat center/cover"
  ></a>
</div> -->
<div class="descuentos-container">
  <div
    class="cards-descuentos mx-auto mb-5 d-flex flex-wrap"
    id="cardsDescuentos"
  >
    <!--  -->
    <a href="/categorias/animales" class="card-item box-shadow animales"></a>
    <a href="/categorias/arte" class="card-item box-shadow arte"></a>
    <a href="/categorias/bebes" class="card-item box-shadow bebes"></a>
    <!--  -->
    <a href="/categorias/belleza" class="card-item box-shadow belleza"></a>
    <a href="/categorias/caza-pesca" class="card-item box-shadow caza"></a>
    <a href="/categorias/comida" class="card-item box-shadow comida"></a>
    <a href="/categorias/deporte" class="card-item box-shadow deporte"></a>
    <!--  -->
    <a
      href="/categorias/electronica"
      class="card-item box-shadow electronica"
    ></a>
    <a
      href="/categorias/ferreteria-cerrajeria"
      class="card-item box-shadow ferreteria"
    ></a>
    <a href="/categorias/hogar" class="card-item box-shadow hogar"></a>
    <!--  -->
    <a
      href="/categorias/indumentaria"
      class="card-item box-shadow indumentaria"
    ></a>
    <!-- <a
      href="/categorias/inmobiliaria"
      class="card-item box-shadow inmobiliaria"
    ></a> -->
    <!-- <a
      href="/categorias/joyas-accesorios"
      class="card-item box-shadow joyas"
    ></a> -->
    <a
      href="/categorias/kiosco-golosinas"
      class="card-item box-shadow kiosco"
    ></a>
    <!--  -->
    <a href="/categorias/librerias" class="card-item box-shadow libreria"></a>
    <a
      href="/categorias/naturaleza"
      class="card-item box-shadow naturaleza"
    ></a>
    <a href="/categorias/oficios" class="card-item box-shadow oficios"></a>
    <a href="/categorias/postres" class="card-item box-shadow postres"></a>
    <!-- <a
      href="/categorias/profesiones"
      class="card-item box-shadow profesiones"
    ></a> -->
    <!--  -->
    <a href="/categorias/rodados" class="card-item box-shadow rodados"></a>
    <a href="/categorias/salud" class="card-item box-shadow salud"></a>
    <!-- <a href="/categorias/seguros" class="card-item box-shadow seguros"></a> -->
    <!--  -->
    <a
      href="/categorias/souvenir-cotillon"
      class="card-item box-shadow souvenir"
    ></a>
    <a
      href="/categorias/supermercado"
      class="card-item box-shadow supermercado"
    ></a>
    <a href="/categorias/tatuajes" class="card-item box-shadow tatuajes"></a>
    <a href="/categorias/traslados" class="card-item box-shadow traslados"></a>
    <!--  -->
    <!-- <a
      href="/categorias/videojuegos"
      class="card-item box-shadow videojuegos"
    ></a> -->
    <!-- Mostrar todos los clientes -->
    <!-- <% arrayClientes.forEach(cliente=> { %>
    <a
      href="/descuento/<%= cliente.id %>"
      class="card-item box-shadow <%= cliente.rubro %>"
    ></a>
    <% }) %>  -->
  </div>
</div>
<% } %><% }) %> <%- include ('../template/footer-categorias') %>
