<%- include("../template/cabecera", { tituloWeb: "Zarate"}) %> <%- include
("../template/header-categorias") %> <% arrayClientes.forEach(cliente=> { %> <%
if (cliente.ciudad === 'zarate'){ %>
<div class="d-flex">
  <p
    class="
      dto-badge
      m-2
      d-flex
      text-light
      justify-content-center
      align-items-center
      position-absolute
    "
  >
    <%= cliente.dtocirculo %>
  </p>
  <a
    href="/descuento/<%= cliente.slug %>"
    class="card-item-categoria box-shadow"
    style="background: url('<%= cliente.imgURL%>') no-repeat center/cover"
  ></a>
</div>
<% } %><% }) %> <%- include ('../template/footer-categorias') %>
